@font-face {
  font-family: "dinpro-regular";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-regular"), url("../fonts/DINPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "dinpro-medium";
  font-style: normal;
  font-weight: 400;
  src: local("DINPro-Medium"), url("../fonts/DINPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "dinpro-bold";
  font-style: normal;
  font-weight: bold;
  src: local("DINPro-Bold"), url("../fonts/DINPro-Bold.ttf") format("truetype");
}
