@font-face {
  font-family: "dinpro-regular";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-regular"), url("../fonts/dinpro-regular.ttf") format("truetype");
}

@font-face {
  font-family: "dinpro-medium";
  font-style: normal;
  font-weight: 400;
  src: local("DINPro-Medium"), url("../fonts/Dinpro-medium.ttf") format("truetype");
}

@font-face {
  font-family: "dinpro-bold";
  font-style: normal;
  font-weight: bold;
  src: local("DINPro-Bold"), url("../fonts/Dinpro-bold.ttf") format("truetype");
}
