* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #bbdbfd;
}

.circle {
  background-color: #030f40;
  width: 2116px;
  height: 2116px;
  border-radius: 50%;
  position: absolute;
}

.main-image {
  position: absolute;
  top: 50%;
  left: 90%;
  width: 681px;
  height: 601px;
  transform: translateY(-50%);
}

.container {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 48px;
  width: 60%;
  color: white;
  transform: translateY(-50%);
}

.logo {
  width: 96px;
  height: 90px;
}

.text-hero {
  font-family: "dinpro-bold", sans-serif;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.text-description {
  font-family: "dinpro-medium", sans-serif;
  font-size: 24px;
}

.text-description-list {
  font-family: "dinpro-medium", sans-serif;
  font-size: 14px;
  color: #a2aab6;
  margin-top: 12px;
  margin-left: 16px;
}

.text-asterisk {
  font-family: "dinpro-regular", sans-serif;
  font-size: 14px;
  color: #a2aab6;
  margin-top: 24px;
  margin-bottom: 24px;
}

.stores-img {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

.app-store,
.play-store {
  text-align: center;
}

.div-codeQR {
  margin-bottom: 0.5rem;
}

ul li {
  margin-bottom: 4px;
}

.dot1,
.dot2,
.dot3,
.dot4 {
  border-radius: 50%;
  position: absolute;
}

.dot1 {
  background-color: #6095d6;
  width: 8px;
  height: 8px;
  left: 55%;
  top: 12%;
}

.dot2 {
  background-color: #6095d6;
  width: 8px;
  height: 8px;
  right: 8%;
  top: 10%;
}

.dot3 {
  background-color: #9bcd41;
  width: 16px;
  height: 16px;
  right: 5%;
  top: 12%;
}

.dot4 {
  background-color: #9bcd41;
  width: 8px;
  height: 8px;
  left: 45%;
  top: 90%;
}

@media screen and (min-width: 1284px) {
  .circle {
    margin-left: -1200px;
    margin-top: -600px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1284px) {
  .circle {
    margin-left: -1380px;
    margin-top: -600px;
  }
}

@media screen and (min-width: 896px) and (max-width: 1024px),
  screen and (min-width: 768px) and (max-width: 896px) {
  .circle {
    margin-left: -1420px;
    margin-top: -600px;
  }
}

@media screen and (max-width: 768px) {
  .circle,
  .dot4,
  .div-codeQR {
    display: none;
  }

  body {
    background-color: #030f40;
    overflow-y: auto;
  }

  .container {
    margin-left: 16px;
    margin-top: 16px;
    padding-right: 4px;
    position: static;
    transform: none;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .div-main-phone {
    display: flex;
    justify-content: center;
  }

  .main-image {
    position: static;
    width: 100%;
    height: auto;
    transform: none;
  }

  .stores-img {
    justify-content: center;
    margin-top: 16px;
  }

  .dot1 {
    top: 60%;
  }
  .dot2 {
    top: 95%;
    right: 12%;
  }
  .dot3 {
    top: 90%;
    right: 8%;
  }
}
